body {
    font-family: Arial, sans-serif;         /*sans-seri 無襯線字體*/
    font-size: 20px;
}
.drink-section {
    display: flex;
    flex-wrap: wrap;                            /*內容超過容器寬度時，會換行排列*/
    justify-content:  space-around;      /*容器裡的項目水平方向上均勻分配空間*/
    margin-bottom: 20px;
    width: 100%;
}
.wintermelon-section {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: flex-start;            !*容器的項目靠著容器的開頭（左邊）對齊*!*/
    margin-bottom: 20px;
    justify-content:  space-around;
    width: 100%;
}
.drink-category {
    margin-bottom: 20px;                    /* 調整每個飲品分類之間的垂直間距 */
    width: 28%;
    box-sizing: border-box;
}
.drink-category01 {
    margin-bottom: 20px;                    /* 調整每個飲品分類之間的垂直間距 */
    width: 28%;
    box-sizing: border-box;
}
.drink-category02 {
     margin-bottom: 20px;                    /* 調整每個飲品分類之間的垂直間距 */
     width: 61%;
    box-sizing: border-box;
 }
.tdprice::before {
    content: ".............................";
    margin-right: 16px;                             /* 在圓點後加入一些間距 */
    color:	#E0E0E0;
}
td.tdprice {
    text-align: right;
}
table {
    width: 100%;
}
.drink-section h2,
.wintermelon-section h2{
    font-size: 28px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 0;
    font-weight: bold;
}
tr{
    text-align: left;
}
.drink-category02 td {
    /*width:100%;*/
    box-sizing: border-box;
}
#icesugar{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1rem;
    background: 	#E0E0E0;
    height: 170px;
    display: flex;
    flex-wrap: wrap;                            /*內容超過容器寬度時，會換行排列*/
    justify-content:  space-around;      /*容器裡的項目水平方向上均勻分配空間*/
}
#icesugar .iceArea, #icesugar .sugarArea{
    width: 45%;
}
#icesugar .ice, #icesugar .sugar{
    font-size: 1rem;
    padding: 2rem 0 2rem 0;
}

#headnav{
    height: 80px;
    background: 	#E0E0E0;
    margin-bottom: 3rem;
    padding-top: 1.3rem;
}
#headnav .nav-item a{
    color: #000000;
    font-weight: bold;
}
#footernav{
    clear: both;
    height: 80px;
    background: 	#E0E0E0;
    margin-top: 3rem;
    padding-top: 1.3rem;
}
#footernav .nav-item a{
    color: #000000;
    font-weight: bold;
}

.drink-category02 .add-table {
    display: flex;
    justify-content: space-between;
}

.drink-category02 table {
    width: 50%;
    box-sizing: border-box;
}
.drink-category02 .add01{
    margin: 0 30px 0 0;
}
.drink-category02 .add02{
    margin: 0 0 0 30px;
}

@media (max-width: 768px) {
    /* 在螢幕寬度小於768px時應用的樣式 */
    .drink-category,
    .drink-category01,
    .drink-category02 .add01,
    .drink-category02 .add02{
        width: 80%; /* 使所有飲品分類佔據整個寬度 */
    }
    .drink-category,
    .drink-category01,
    .drink-category02 .add-table{
        flex-direction: column; /* 在小螢幕上將.add-table切換為垂直方向 */
    }
    .drink-section h2,
    .wintermelon-section h2{
        font-size: 20px;
        font-weight: bold;
    }
    .drink-section td,
    .wintermelon-section td{
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    #headnav, #footernav {
        text-align: center; /* 在小螢幕上將文字置中 */
    }
    #headnav .nav-item a, #footernav .nav-item a {
        font-size: 12px;    /* 調整文字大小 */
    }
}
