body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

/*Top指標*/
#scrollToTopBtn {
    display: none;          /*初始的畫面先隱藏按鈕*/
    position: fixed;        /*固定按鈕在畫面上方*/
    bottom: 150px;
    right: 20px;
    background-color: #70bf2d;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius:15px;     /*邊框弧度*/
    padding: 10px;
    cursor: pointer;            /*滑鼠指標 變成手指形狀*/
    box-shadow: 2px 5px 5px #005707;
}

/*logo*/
.logoimg{
    float: left;
}

/*banner*/
#topArea{
    position: relative;
}

#topArea img{
    width: 100%;
    border-radius: 0 0 80% 80% / 0 0 60% 60%;
    margin-bottom: 80px;
    margin-top: 110px;
}

#topArea h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-family: Arvo, sans-serif;
    font-size: 56px;
}

/*button*/
#btnArea{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    text-align: center;
}

#btnNorth, #btnCentral, #btnSouth {
    font-size: 22px;
    text-align: center;
    border: 1px solid rgba(119, 95, 70, 0.2); /* 修改邊框寬度和邊框顏色 */
    border-radius: 18px; /* 修改邊框圓角 */
    width: 200px;
    height: 40px;
    color: #775F46;
    font-weight: 600;
    margin-left: 15px;
}

/*main*/
#nblock{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ulArea{
    width: 82%;
    margin-left: 10px;
    border-bottom: 1px solid rgba(163, 151, 90, 0.5);
}

 .liName{
     font-size: 22px;
     font-family: 微軟正黑體,sans-serif;
     font-weight: bold;
     color: #775F46;
     list-style-type: none;
     line-height:3;
 }

/*圖標調整*/
.fa-solid{
    margin-right: 10px;
    margin-bottom: 12px;
    color: #362121;
}

/* 頁面頭部和底部導航樣式 */
#headnav {
    height:110px;
    display: flex;
    justify-content: flex-end;
}
#footernav {
    height: 150px;
    display: flex;
    justify-content: flex-end;
}

/* nav連結樣式 */
#headnav .nav-item,
#footernav .nav-item {
    margin-top: auto;
    margin-bottom: auto;
    height: 50px;

}
#headnav .nav-item a,
#footernav .nav-item a{
    font-weight: 700;
    color: #000000;
}

#footer{
    background: #569c1a;
    position: relative;
}

#footer p {
    position: absolute;
    bottom: 7%;     /* 以父元素#footer來調整高度 */
    left: 50%;          /*水平置中起始基準*/
    margin: 0;
    transform: translateX(-50%); /* 將元素的一半寬度往左移動，實現水平置中 */
}

#header{
    position:fixed;
    right: 0;
    background: #fbfbfb;
    height: 110px;
    width: 100%; /* 撐滿整個寬度 */
    top: 0; /* 與頂部對齊 */
    z-index: 1000; /* 提高 z-index 以確保在其他元素之上 */
}

/* RWD for #headnav, #footernav */
@media (max-width: 768px) {
    #headnav,
    #footernav {
        text-align: center;
        justify-content: center;
    }
    #headnav .nav-item a,
    #footernav .nav-item a {
        font-size: 12px;
        padding: 0 8px 0 8px;
    }
}