<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>飲品項目</title>
    <link rel="stylesheet"  th:href="@{/css/drink_item_list.css}" type="text/css" >
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

</head>
<body>




<style>


    @media only screen and (max-width: 600px) {
        .nav-item a
        {


            font-size:  15px ;

        }
    }

    .navbar-brand
    {
        background-color: red ;
        border: solid red 10px ;
        border-radius: 3%;
    }


    #footernav
    {

        background:lightgray;
        width: 100%;
        height: 20%;

        align-content: center;
        color: #000000;


    }

    .nav-item a
    {
        color: #000000;
        font-weight: bold;
    }




</style>







<header>


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Homepage">首頁HOME PAGE </a>
            <a class="navbar-brand" href="/menu">開始點餐 START OREDR NOW </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">


                <span class="navbar-toggler-icon"></span>
            </button>





            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/latestnews">最新消息LATEST NEWS</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/member">會員專區MEMBER</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/drink_item">飲品資訊 MENU</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/coordinates">門市據點COORDINATES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">關於我們ABOUT US</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            其他OTHERS
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/qna">常見問題Q&A</a></li>
                            <li><a class="dropdown-item" href="/franchise">加盟專區FRANCISE</a></li>
                            <li><a class="dropdown-item" href="/contactus">聯絡我們CONTACT US</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>






</header>

<main>
<div class="drink-section" style="width: 80%; margin-left: auto; margin-right: auto">
    <div class="drink-category">
        <h2>原味茶</h2>
        <hr>
        <table>
            <tr th:each=" original:${originals}">
                <td th:text="${original.getName()}"></td>
                <td class="tdprice" th:text="${original.getPrice()}"></td>
            </tr>
        </table>
    </div>
    <div  class="drink-category">
        <h2>風味茶</h2>
        <hr>
        <table>
            <tr th:each="flavor :${flavors}">
                <td th:text="${flavor.getName()}"></td>
                <td class="tdprice" th:text="${flavor.getPrice()}"></td>
            </tr>
        </table>
    </div>
    <div class="drink-category">
        <h2>滋味茶</h2>
        <hr>
        <table>
            <tr th:each="taste :${tastes}">
                <td th:text="${taste.getName()}"></td>
                <td class="tdprice" th:text="${taste.getPrice()}"></td>
            </tr>
        </table>
    </div>
</div>

<div class="drink-section" style="width: 80%; margin-left: auto; margin-right: auto">
    <div class="drink-category">
        <h2>香醇奶茶</h2>
        <hr>
        <table>
            <tr th:each="milk :${milks}">
                <td th:text="${milk.getName()}"></td>
                <td class="tdprice" th:text="${milk.getPrice()}"></td>
            </tr>
        </table>
    </div>
    <div class="drink-category">
        <h2>芝士奶蓋</h2>
        <hr>
        <table>
            <tr th:each="cheese :${cheeses}">
                <td th:text="${cheese.getName()}"></td>
                <td class="tdprice" th:text="${cheese.getPrice()}"></td>
            </tr>
        </table>
    </div>
    <div class="drink-category">
        <h2>鮮奶茶</h2>
        <hr>
        <table>
            <tr th:each="freshmilk :${freshmilks}">
                <td th:text="${freshmilk.getName()}"></td>
                <td class="tdprice" th:text="${freshmilk.getPrice()}"></td>
            </tr>
        </table>
    </div>
</div>

<div  class="wintermelon-section" style="width: 80%; margin-left: auto; margin-right: auto">
    <div class="drink-category01 ">
        <h2>冬瓜茶系列</h2>
        <hr>
            <table>
                <tr th:each="wintermelon :${wintermelons}">
                    <td th:text="${wintermelon.getName()}"></td>
                    <td class="tdprice" th:text="${wintermelon.getPrice()}"></td>
                </tr>
            </table>
    </div>
    <div class="drink-category02">
        <h2>加好料</h2>
        <hr>
        <div class="add-table">
            <table class="add01" >
                <tr th:each="material : ${materials.subList(0, 3)}"> <!--subList(0, 3)從materials的陣列裡去抓出索引值0,1,2的資料-->
                    <td  th:text="${material.getName()}"></td>
                    <td class="tdprice" th:text="${material.getPrice()}"></td>
                </tr>
            </table>
            <table class="add02">
                <tr th:each="material : ${materials.subList(3, 6)}"> <!--subList(0, 3)從materials的陣列裡去抓出索引值3,4,5的資料-->
                    <td th:text="${material.getName()}"></td>
                    <td class="tdprice" th:text="${material.getPrice()}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="icesugar">
        <div class="iceArea">
            <h4>冰量-660ml</h4>
                    <p><span class="ice">正常冰</span></p>
            <h4>熱飲-600ml</h4>
        </div>

        <div class="sugarArea">
            <h4>甜度</h4>
                <p><span class="sugar">正常甜</span></p>
            <h6>無咖啡因飲品請諮詢店員/買10送1、買20送3</h6>
        </div>
</div>
</main>

<footer>
    <div id="footernav">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Homepage">首頁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="latestnews">最新消息News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/drink_item">飲品資訊Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutus">關於我們About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/qna">常見問答Q&A</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/franchise">加盟專區</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/coordinates">門市據點</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/member">品牌會員/網路點餐</a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>