<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Selectmenu - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
        fieldset {
            border: 0;
        }
        label {
            display: block;
            margin: 30px 0 0 0;
        }
        .overflow {
            height: 200px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#type" )
                .selectmenu()
                .selectmenu( "menuWidget" )
                .addClass( "overflow" );

            $( "#product" )
                .selectmenu()
                .selectmenu( "menuWidget" )
                .addClass( "overflow" );

            $( "#material" )
                .selectmenu()
                .selectmenu( "menuWidget" )
                .addClass( "overflow" );

            $( "#qty" )
                .selectmenu()
                .selectmenu( "menuWidget" )
                .addClass( "overflow" );

            $( "#states" ).selectmenu();

            $( ".widget input[type=submit], .widget input[type=reset],.widget a, .widget button" ).button();
        } );
    </script>
</head>
<body>
<div class="row column text-center">
    <h2>前台訂單處理系統</h2>
    <hr>
</div>
<div class="demo">

    <form action="/addOrder" method="post">

        <fieldset>
            <label for="type">選擇種類</label>
            <select name="type" id="type">
                <option disabled selected>請選擇種類</option>
                <option th:each=" product:${products}" th:text="${product.getProduct()}"></option>
            </select>

            <label for="product">選擇產品</label>
            <select name="product" id="product">
                <option disabled selected>請選擇產品</option>
                <optgroup th:each=" original:${originals}" label="原味茶">
                    <option th:text="${original.getName()}"></option>
                </optgroup>
                <optgroup th:each="flavor :${flavors}" label="風味茶">
                    <option th:text="${flavor.getName()}"></option>
                </optgroup>
                <optgroup th:each="taste :${tastes}" label="滋味茶">
                    <option th:text="${taste.getName()}"></option>
                </optgroup>
                <optgroup th:each="milk :${milks}" label="香醇奶茶">
                    <option th:text="${milk.getName()}"></option>
                </optgroup>
            </select>

            <label for="material">選擇加料</label>
            <select name="material" id="material">
                <option disabled selected>請選擇加料</option>
                <option th:each="material : ${materials}" th:text="${material.getName()}"></option>
            </select>

            <label for="qty">選擇數量</label>
            <select name="qty" id="qty">
                <option disabled selected>請選擇數量</option>
                <option th:each="number : ${#numbers.sequence(1, 10)}" th:text="${number}"></option>
            </select>

            <label for="states">選擇冷熱飲</label>
            <select name="states" id="states">
                <option disabled selected>請選擇冷熱飲</option>
                <option>冷飲</option>
                <option>熱飲</option>
            </select>
        </fieldset>
        <div class="widget">
            <input type="submit" value="送出訂單">
            <input type="reset" value="重選訂單">
        </div>
    </form>
</div>
<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<!--<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>-->
<script>
    // $(document).foundation();
    $(document).ready(function(){
        $("#type").change(function(){
            var selectedValue = $(this).val();
            addOrderById(selectedValue);
        });
    });

    function addOrderById() {
        let type = $('#type').val();
        // alert("搜尋產品: " + pcode);
        $.get( '/api/addOrderByType/' + type,
            function (data , status) {
                console.log("發出 ajax .get 到 springboot api server 取資料結果:")
                let type = data[0];
                console.log( JSON.stringify(type));
                console.log(type.product);
                $('#p_name').html(product.name)
                console.log(product.description)
                $('#p_desc').html(product.description)
                console.log(product.code)
                $('#img').attr('src','/img/product/'+p.code+'/1.jpg')
                $('#img1').attr('src','/img/product/'+p.code+'/1.jpg')
                $('#img2').attr('src','/img/product/'+p.code+'/2.jpg')
                $('#img3').attr('src','/img/product/'+p.code+'/3.jpg')
                $('#img4').attr('src','/img/product/'+p.code+'/4.jpg')
            }
        )
    }
</script>

</body>
</html>