<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>註冊成功</title>
</head>
<body th:object="${user}">
    <h2>[[*{memberName}]]，恭喜您，已註冊成功囉！</h2>

    <table>
      <caption>您的註冊資料：</caption>
      <tr>
          <td>會員姓名:</td>
          <td th:text="*{username}"></td>
      </tr>
      <tr>
          <td>密碼:</td>
          <td th:text="*{password}"></td>
      </tr>
      </tr>
          <td>生理性別:</td>
         <td th:text="*{gender} ? '生理男' : '生理女'"></td>
      </tr>
      <tr>
          <td>手機號碼:</td>
          <td th:text="*{cellPhone}"></td>
      </tr>
      <tr>
          <td>電子信箱:</td>
          <td th:text="*{memberName}"></td>
      </tr>
    </table>
</body>
</html>